@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-display: var(--font-poppins);

  --color-*: initial;
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f7f3f0;
  --color-neutral-600: #6d5b4d;
  --color-neutral-900: #2e1401;
  --color-yellow-500: #f8cb46;
  --color-blue-400: #92adeb;
  --color-blue-600: #5072c7;
  --color-teal-400: #47d9c9;
  --color-pink-400: #fc8ae5;
  --color-pink-500: #f073a3;
  --color-pink-700: #e11966;

  --color-border: #2e1401;
  --color-ring: var(--color-blue-600);

  --shadow-border-xs: 1px 1px 0 0 var(--color-border);
  --shadow-border-sm: 2px 2px 0 0 var(--color-border);
  --shadow-border-md: 3px 3px 0 0 var(--color-border);
  --shadow-border-lg: 4px 4px 0 0 var(--color-border);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  * {
    @apply outline-ring outline-offset-4;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    font-family: var(--font-display);
    font-weight: 500;
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
  }
}
