@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-display: var(--font-poppins);

  --color-*: initial;
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f7f3f0;
  --color-neutral-600: #6d5b4d;
  --color-neutral-900: #2e1401;
  --color-yellow-500: #f8cb46;
  --color-blue-400: #92adeb;
  --color-blue-600: #5072c7;
  --color-teal-400: #47d9c9;
  --color-pink-400: #fc8ae5;
  --color-pink-500: #f073a3;
  --color-pink-700: #e11966;
  --color-border: #2e1401;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    font-family: var(--font-display);
    font-weight: 500;
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
  }
}

@layer components {
  .card {
    @apply rounded-2xl border border-r-4 border-b-4 bg-neutral-50;
  }
}
